.info {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

.icon,
.icon svg {
  width: 1.5rem;
  height: 1.5rem;
}

.info p {
  margin: 0 0 1px;
  line-height: 1;
}

#date-time {
  font-weight: 500;
}

.info a {
  color: var(--primary-fg);
  text-decoration: underline;
}

#what {
  margin: 1.5rem 0;
}

#description {
  font-size: 0.875rem;
}

footer {
  margin: 2.5rem auto;
  width: 13rem;
  padding-bottom: 0.75rem;
}

.btn-icon {
  margin-right: 0.625rem;
}

.btn-icon,
.btn-icon svg {
  width: 1.25rem;
  height: 1.25rem;
}

#modal .btn-icon,
#modal .btn-icon svg {
  width: 1.125rem;
  height: 1.125rem;
}

#add-to-cal {
  margin-bottom: 0;
  position: relative;
  z-index: 1;
  transform: scale(1);
}

#modal {
  opacity: 0;
  border: var(--btn-border);
  border-top: none;
  background-color: var(--btn-bg);
  box-shadow: 0 0 0 0 hsl(var(--shadow-hsl) / 0%);
  width: 9.5rem;
  height: 1px;
  margin: 0 auto;
  padding: 0;
  z-index: 0;
  overflow: hidden;
  transition: all 0.2s;
}

footer:hover #modal,
#add-to-cal:hover + #modal,
#add-to-cal:focus + #modal,
#modal.show {
  opacity: 1;
  height: 5.875rem;
  padding: 0.125rem 0;
  box-shadow: var(--btn-hover-shadow);
}

.cal-btn {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.75rem 1.125rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.025rem;
  color: var(--btn-color);
  border: none;
  background-color: transparent;
  user-select: none;
  opacity: var(--btn-opacity);
  text-transform: none;
  transition: all 0.2s;
  cursor: pointer;
  background-image: none;
  margin: 0;
}

.cal-btn:hover {
  opacity: 1;
  background-color: var(--btn-hover-bg);
}

.cal-btn:focus {
  opacity: 1;
  background-color: var(--btn-focus-bg);
}
